body {
    text-align: center;
}



table,
tr,
td {
    border: black 1px solid ;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
